/* ------------------------------------------------------ */
/* RESET */
/* ------------------------------------------------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkseagreen;
  font-family: 'Josefin Sans', sans-serif;
}

/* ------------------------------------------------------ */
/* CAROUSEL */
/* ------------------------------------------------------ */
.container-carousel{
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-csm{
  height: 300px;
  display: flex;
}

.carousel-img{
  width: 700px;
  height: 100%;

  position: relative;
}

.carousel-text{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 8px 16px;

  color: white;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 2px solid rgba(150, 150, 150, 0.5);
}

.carousel-img .img-car{
  width: 100%;
  height: 100%;
}

.carousel-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------------------------ */
/* BUTTON */
/* ------------------------------------------------------ */

.btn-csm{
  cursor: pointer;
  width: 24px;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.btn-csm:hover{
  color: white;
  background-color: black;
}

.btn-up{
  top: 8px;
}

.btn-down{
  bottom: 8px;
}

/* ------------------------------------------------------ */
/* THUMBNAILS */
/* ------------------------------------------------------ */

.carousel-thumbnails{
  width: 150px;
  height: 100%;
  position: relative;
}

.carousel-thumb{
  height: 100%;
  background-color: black; /* per la questione active */
}

.carousel-thumb img{
  cursor: pointer;
  
  width: 100%;
  height: 20%; /* questa height forse dovrebbe essere data da js */
  object-fit: cover;
  display: block;
}

.thumb-car{
  opacity: 0.5;
}


/* ------------------------------------------------------ */
/* UTILITY */
/* ------------------------------------------------------ */
.hide{
  display: none;
}

.active{
  opacity: 1;
  border: 4px solid white;
}


